.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
  background-color: rgba(185, 192, 199, 0.4);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.span {
  color: #54a417;
}
