<ng-container *ngIf="show()">
<form [formGroup]="orderForm">
  <div class="row">
    <mat-label>Place order</mat-label>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Full name:" formControlName="name" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Phone number:" formControlName="phone" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Email:" formControlName="email" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Moving from address" formControlName="movingAddressFrom" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Moving to address" formControlName="movingAdresssTo" required>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput placeholder="Pick a date" [matDatepicker]="myDatepicker" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <input type="time" matInput placeholder="Pick a time" formControlName="time" required>
    </mat-form-field>
  </div>
  <div class="row">
    <textarea matInput cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="6"
              placeholder="Leave a comment here"
              formControlName="comments"></textarea>
  </div>
</form>
<form [formGroup]="productForm">
  <div class="row">
    <mat-label>Needs help with</mat-label>
  </div>
  <div class="row">
    <mat-checkbox formControlName="isMoving">
      Moving
    </mat-checkbox>
    <mat-checkbox formControlName="isPacking">
      Packing
    </mat-checkbox>
    <mat-checkbox formControlName="isCleaning">
      Cleaning
    </mat-checkbox>
  </div>
</form>
<div class="row">
  <button mat-button [disabled]="validForm() === false" (click)="submit()">Place Order</button>
</div>
  <div class="row">
    <button mat-button (click)="reset()">Reset</button>
  </div>
</ng-container>
<ng-container *ngIf="!show()">
  <h5>Your ordernumber is: {{orderNumber}}</h5>
  <div class="row">
    <button mat-button (click)="reset()">Register another order</button>
  </div>
</ng-container>




