@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', Arial; }
.mat-form-field { width: 25%; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.basic-container {
  padding: 30px;
}

.mat-card {
  height: 50%;
  width: 50%;
  margin: 1em;
  padding: 1em;
  text-align: center;

}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.align-left {
  text-align:left;
  color: blue;
}
