<div class="align-left">
  <button mat-button (click)="backToSearch()">Back to search</button>
</div>
<ng-container *ngIf="show()">
  <form [formGroup]="orderForm">
    <div class="row">
      <mat-label>Selected order</mat-label>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Full name:" formControlName="name" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Phone number:" formControlName="phone" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Email:" formControlName="email" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Moving from address" formControlName="movingAddressFrom" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Moving to address" formControlName="movingAdresssTo" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Pick a date" [matDatepicker]="myDatepicker" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input type="time" matInput placeholder="Pick a time" formControlName="time" required>
      </mat-form-field>
    </div>
    <div class="row">
    <textarea matInput cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="4"
              cdkAutosizeMaxRows="6"
              placeholder="Leave a comment here"
              formControlName="comments"></textarea>
    </div>
  </form>
  <form [formGroup]="productForm">
    <div class="row">
      <mat-label>Needs help with</mat-label>
    </div>
    <div class="row">
      <mat-checkbox formControlName="isMoving">
        Moving
      </mat-checkbox>
      <mat-checkbox formControlName="isPacking">
        Packing
      </mat-checkbox>
      <mat-checkbox formControlName="isCleaning">
        Cleaning
      </mat-checkbox>
    </div>
  </form>
  <div class="row">
    <button mat-button (click)="submit()">Update</button>
  </div>
</ng-container>
<!-- this should be generated according to results.. -->
<ng-container *ngIf="hasSearchResults()">
  <div class="mat-card-container" *ngFor="let item of searchResultData">
    <mat-card>
      <mat-card-content>
        <div class="row">
          Order-number: {{item.orderNumber}}
        </div>
        <div class="row">
          Name: {{item.name}}
        </div>
          Phone: {{item.phone}}
      </mat-card-content>
      <mat-card-actions>
        <div class = "green-text">
          <button mat-button (click)="doSelect(item)">SELECT</button>
        </div>
        <div class = "red-text">
        <button mat-button (click)="doDelete(item)">DELETE</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
<ng-container *ngIf="searchBarVisible()">
  <div *ngIf="isOrderUpdated()">
    <div class="row">
      <mat-label>Order has been updated</mat-label>
    </div>
  </div>
  <form [formGroup]="searchForm">
    <div class="row">
      <mat-label>Search previous registered orders</mat-label>
    </div>
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
    </div>
    <button mat-button (click)="doSearch()">Search</button>
  </form>
</ng-container>
